/* App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  /* padding: 20px; */
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.input-group input {
  padding: 10px;
  flex: 1;
  min-width: 330px;
  margin: 5px 10px 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 0;
  margin-left: 15px;
}

.input-group button:hover {
  background-color: #0056b3;
}

.table-container {
  margin-top: 20px;
  /* width: 100vw; */
  /* overflow-x: auto; */
}


table {
  /* display: none; */
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

.student-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.student-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.student-info .student-img {
  margin-bottom: 20px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.preloader {
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.preloader span {
  display: block;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.logincard{
  height: 90svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginblock{
  width: 40svw;
  height: 50svh;
  background-color: #0056b3;
  margin: 0;
  display:grid;
  justify-content:center;
  align-items: center;
}

.logininput{
  width: 20svw;
  height:6svh;
  /* border-radius:6svw; */
  outline: none;

}



@keyframes bounce {
  to {
      transform: translateY(-100%);
  }
}

.shadow {
  width: 80px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-top: 10px;
}

.list-item {
  cursor: pointer;
}

.list-item td {
  font-size: 100%;
}

.list-item:hover td {
  background-color: #f9f9f9;
  color: black;
}

.image-container {
  margin-top: 20px;
}

.table-img{
  width: 30%;
  height: 30%;
}





/* @media (min-width:768px) {
  .student-info {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
}

.student-info .student-img {
    margin-right: 20px;
    margin-bottom: 0;
}

.table-img{
  width: 100%;
  height: 100%;
}
} */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #111;
}
.square
{
	position: relative;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.square i
{
	position: absolute;
	inset: 0;
	border: 2px solid #fff;
	transition: 0.5s;
}
.square i:nth-child(1)
{
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate 6s linear infinite;
}
.square i:nth-child(2)
{
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate 4s linear infinite;
}
.square i:nth-child(3)
{
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate2 10s linear infinite;
}
.square:hover i
{
	border: 6px solid var(--clr);
	filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate2
{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}
.login 
{
	position: absolute;
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.login h2 
{
	font-size: 2em;
	color: #fff;
}
.login .inputBx 
{
	position: relative;
  left: 10%;
	width: 80%;
  margin-bottom: 10px;
}
.login .inputBx input 
{
	position: relative;
	width: 100%;
	padding: 12px 20px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 40px;
	font-size: 1.2em;
	color: #fff;
	box-shadow: none;
	outline: none;
}
.login .inputBx input[type="submit"]
{
	width: 100%;
	background: #0078ff;
	background: linear-gradient(45deg,#ff357a,#fff172);
	border: none;
	cursor: pointer;
}
.login .inputBx input::placeholder 
{
	color: rgba(255,255,255,0.75);
}
.login .links
{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.login .links a 
{
	color: #fff;
	text-decoration: none;
}


/* loader css */

.container11 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container11 .preloader11 {
  animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.preloader11 span {
  position: absolute;
  display: block;
  height: 64px;
  width: 64px;
  background: #3fc1f2;
  border: 1px solid #3fc1f2;
  border-radius: 100%;
}
.preloader11 span:nth-child(1) {
  transform: translate(-28px, -28px);
  animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_1 {
  60% {
    transform: scale(0.4);
  }
}
.preloader11 span:nth-child(2) {
  transform: translate(28px, -28px);
  animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_2 {
  40% {
    transform: scale(0.4);
  }
}
.preloader11 span:nth-child(3) {
  position: relative;
  border-radius: 0px;
  transform: scale(0.98) rotate(-45deg);
  animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_3 {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100% {
    transform: scale(0.98) rotate(-45deg);
  }
}
.shadow11 {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 16px;
  width: 64px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  animation: shadow 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shadow11 {
  50% {
    transform: translateX(-50%) scale(0.5);
    border-color: #f2f2f2;
  }
}
.container11 {display: inline-block;}

@keyframes cursor {
  50% { border-color: transparent;}
}
@keyframes typing {
  from {width: 0 }
}


.headbar{
  /* position: absolute;
  top: 0;
  left: 0; */
  display: inline;
  width: 100%;
  height: 10svh;
  /* background-color: red; */
}

.headbar img{
  height: 4svw;
  width: 4svw;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  margin-top: 1svw;
  margin-left: 1svw;
}

.headbar button{
  float: right;
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1svw;
  margin-right: 1svw;
  /* margin: 5px 0; */
  /* margin-left: 15px; */
}

.headbar button:hover{
  background-color: rgb(200, 255, 0);
  color: black;
}

.headbar button:active{
  background-color: rgb(211, 241, 105);
  color: black;
}

td{
  color: white;
}

@media (max-width: 599px) {
  /* .student-info {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
  } */

  td{
    color: white;
  }
  
  .list-item td {
    font-size: 60%;
  }

  .list-item:hover td {
    background-color: #f9f9f9;
    color: black;
  }
  .student-info .student-img {
      margin-right: 20px;
      margin-bottom: 0;
  }

  .table-img{
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width:376px) {
  .input-group input{
    min-width: 250px;
  }
  table{
    font-size: 60%;
  }
}